
*{ margin: 0;
padding:0;
}
body{
    font-family:" poppins",sans-serif;
}
container{
    margin: 0auto;
    width: 1440 px;
    justify-content: space-between;
    align-items: center;
}
/* header area start */   
.header-area-menu ul{
    display:flex ;
    justify-content: space-between;
    align-items: center;

}
.header-area-menu ul li {
    list-style: none;
    margin-right: 40px;
}
.header-area-menu ul li a{
    text-decoration: none;

}
.header .header-area-menu{
    margin-top: 30px;
}
/*  Header Area End */

/*  Banner Area Start */


 .background-image{
    background-image:url("image/backround image/image11.png");
    height: 616px;
    background-repeat:no-repeat ;
    background-size:cover ;
 }
.background-text-area{
    text-align: center;
    width: 1440px;
    height: 550px;
    gap: 0px;
    font-size: 50px;
    color: bisque;
    font-size: 48px;
    line-height: 550px;
    margin-left: 700px;

}
.background-text-area-btn button{
    width: 338px;
    height: 58px;
    font-size: 80px;
    text-align: center;

}

/* Bannar area end */
/* form start */
#form{
    display: flex;
    padding-top: 40px;
    margin-left: 0auto;
    background-color: chartreuse;
}
.form-input input{
    height: 70px;
    width: 90%;
    background-color: bisque;
    border-radius:16% ;
}
    .form input button{
        width:50% ;
        height: 70px;
        text-align: center;
        margin-left: 40px;
        background-color: blueviolet;}
        .form-text{
            font-size:20px ;
            margin-top: 40px;
        }
    


/* Form area end */

/* about the principal area start */

.about-the-principal-area {
    display: flex;
    padding: 70px 0 50px 0;
}
.about-the-principal-area-img img{
    width: 534px;
    height: 662px;
}
.about-the-principal-area-text{
    margin-left: 30px;
}
.about-the-principal-area-text button{
    width:338px ;
    background-color: aqua;
    border:none ;
    height: 50px;
    border-radius:10px ;
    color:#ffff ;
}
/* about-the-principal-area end */
/* service-start */

.service-imge{display: flex;
    justify-content: space-between;

}
service-text{
text-align: center;
}
.more{
    width: 324px;
    height: 73px;
    margin-left: 50px;
}
/* service-end */
/* our-philosophy-start */
#our-philosophy-img{
    width: 736px;
    height: 734px;
    top:348px;
    gap: 0px;
    opacity:opx;

}
.our-philosopy-text-area{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
}
#and-you{
    display: flex;
}

.and-you-text-area{
    margin-left: 40px;
    font-size: 20px;
}
.button1 {
    border: none
    color :
   
}
.button2
{color: #000;
background-color: blanchedalmond;
border-style: groove;
}
/* our philosopy end */
.finish{
    font-size: 90px;
    font-weight:bold;
    text-align: center;
}


